@model Subastas.Models.Subasta

@{
    ViewData["Title"] = "Eliminar Subasta";
}

<h1>Eliminar Subasta</h1>

<h3>¿Estás seguro de eliminar esta subasta?</h3>
<div>
    <h4>Subasta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre del Proyecto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProyecto)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    @Html.ActionLink("Regresar a tus Subastas", "Index", new { usuario=ViewBag.PyME }) |
    </form>
</div>
