@model Subastas.Models.Propuesta

@{
    ViewData["Title"] = "Editar Calificación";
}

<h1>Editar Calificación</h1>

<h4>Propuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePropuesta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ID" class="form-control" type = "hidden" />
            </div>
            <div class="form-group">
                <input asp-for="SubastaID" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="UsuarioID" class="form-control" type = "hidden" />
            </div>
            <div class="form-group">
                <input asp-for="TituloPropuesta" class="form-control" type = "hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Descripcion" class="form-control" type = "hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" type = "hidden">
                    <option value="T">Terminada</option>
                </select>                
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Grade" class="form-control" type = "hidden">
                   ñ <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10 </option>
                </select>               
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Regresar a Subastas", "Index", new { usuario=ViewBag.PyME  }) |
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
