@model IEnumerable<Subastas.Models.Propuesta>

@{
    ViewData["Title"] = "Propuestas Disponibles";
}

<h1>Propuestas para tus proyectos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Título de la Propuesta
            </th>
            <th>
                Descripción
            </th>
            <th>
                Estatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloPropuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @{
                    if (item.Status == "A")
                    {
                        <label>Aceptado</label>
                    }
                    else if (item.Status == "R")
                    {
                        <label>Rechazado</label>
                    }
                    else if (item.Status == "I")
                    {
                        <label>Interesado</label>
                    }
                    else
                    {
                        <label>Sin Revisar</label>
                    }
                }            
            </td>
            <td>
                @Html.ActionLink("Ver más", "DetailsPropuestas", new { consultoria=item.ID }) |    
                @Html.ActionLink("Acción", "Create", new { consultoria=item.ID }) |            
            </td>
        </tr>
                }
    </tbody>
</table>
