@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Subastas de Proyectos</h1>
    <p>Plataforma en donde puedes subastar tus proyectos.</p>
</div>
