@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Subastas de Proyectos</h1>
    <h2>Plataforma en donde puedes subastar tus proyectos.</h2>
    <h4>¿Eres una PyME buscando personal capaz de realizar un proyecto?</h4>
    <h4>¿Eres una Consultoria buscando proyecto interesantes en los cualñes trabjar?</h4>

    @Html.ActionLink("Crea tu cuneta aquí", "SignUp");
</div>
